{
    "presets": [
        ["@babel/preset-env",
            {
                "targets":{
                    "browsers" : [
                        "last 2 versions",
                        "ie >= 11"
                    ]
                },
                "modules": "umd",
                "useBuiltIns": "usage",
                "corejs": "^2.6.5"
            }
        ]
    ]
}